.car-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.car-controls {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.car-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.race-track{
  width: 100%;
  display: flex;
  justify-content: start;
  border-radius: 10px;
  border: 1px dashed #ccc;
  padding: 0 4px;
}

.car-icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

@media (max-width: 500px) {
  .car-item {
    padding: 5px;
  }
  
  .car-controls {
    flex-direction: column;
  }
  
  .car-icon {
    font-size: 1.5rem;
  }
}